{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞 Contact Us 📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions, Contact Us. We Are Happy To Help.</p>
    </div>
</div>

<div class="row p-3">
    <!-- Indian Food Corporation Contact -->
    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Food Corporation of India (FCI)</h3>
               <br><br>
                <p class="lead" style="font-weight: 350;">
                    The Food Corporation of India (FCI) ensures food security by maintaining buffer stocks and distributing food grains.
                </p>
            </center>
            <div>
                <h5>Contact Details:</h5><br>
                <a target="_blank" href='mailto:fcihqrs@fci.gov.in'>
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40" alt="Email Icon">
                </a> : fcihqrs@fci.gov.in<br><br>

                <a target="_blank" href='https://fci.gov.in'>
                    <img src="https://cdn-icons-png.flaticon.com/512/3917/3917132.png" height="40" width="40" alt="Website Icon">
                </a> : <a href="https://fci.gov.in" target="_blank">www.fci.gov.in</a><br><br>

                📍 <b>Address:</b> Food Corporation of India, 16-20, Barakhamba Lane, New Delhi – 110001, India<br><br>
                ☎ <b>Helpline:</b> 011-43527462
            </div>
        </div>
    </div>

    <!-- WHO Contact -->
    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>World Health Organization (WHO)</h3>
               <br><br>
                <p class="lead" style="font-weight: 350;">
                    The World Health Organization (WHO) is responsible for global public health and works on disease prevention and response.
                </p>
            </center>
            <div>
                <h5>Contact Details:</h5><br>
                <a target="_blank" href='mailto:info@who.int'>
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40" alt="Email Icon">
                </a> : info@who.int<br><br>

                <a target="_blank" href='https://www.who.int'>
                    <img src="https://cdn-icons-png.flaticon.com/512/3917/3917132.png" height="40" width="40" alt="Website Icon">
                </a> : <a href="https://www.who.int" target="_blank">www.who.int</a><br><br>

                📍 <b>Address:</b> World Health Organization, Avenue Appia 20, 1211 Geneva, Switzerland<br><br>
                ☎  <b>Helpline:</b> +41-22-7912111
            </div>
        </div>
    </div>
</div>

{% endblock body %}
